<footer>
    <div class="main-footer-top">
        <p><i>Todos los envios son gratuitos</i></p>
    </div>
    <div class="main-footer-bottom">
        <div class="section1">                
            <h3 class="title-footer">
                Mas información de la compañia
            </h3>
            <img src="/images/zapato.png" class="logo" />
            <p class="desc-company">
                Esta compañia se dedica a la venta de zapatos<br> y accesorios a la moda para hombres,
                mujeres<br> y niños. Todos los productos que se venden en<br> esta empresa son de buena calidad.
            </p>
        </div>
        <div class="section2">
            <h3 class="title-footer">
                Redes sociales
            </h3>
            <div class="redes-sociales">
                <div class="social-network-facebook">
                    <a href="">
                        <img src="/images/facebook.png" class="img-red-fb" width="40px"/>
                        <label>
                            Siguenos en Facebook
                        </label>    
                    </a>
                </div>
                <div class="social-network-twitter">
                    <a href="">
                        <img src="/images/instagram.png" class="img-red-tw" width="40px"/>
                        <label>
                            Siguenos en Twitter
                        </label>
                    </a>
                </div>
                <div class="social-network-instagram">
                    <a href="">
                        <img src="/images/twitter.png" class="img-red-ig" width="32px" />
                        <label>
                            Siguenos en Instagram
                        </label>
                    </a>
                </div>
                <div class="social-network-youtube">
                    <a href="">
                        <img src="/images/youtube.png" class="img-red-yt" width="33px"/>
                        <label>
                            Siguenos en Youtube
                        </label>
                    </a>
                </div>
            </div>
        </div>
        <div class="section3">
            <h3 class="title-footer">
                Contáctanos
            </h3>
            <div class="info-column">
                <div class="info-contact-home">
                    <i class="fas fa-home"></i>
                    <p class="desc-contact"> 
                        Valencia, Venezuela.<br>
                        CC. Mediterranean Plaza.
                    </p>
                </div>
                <div class="info-contact-phone">
                    <i class="fas fa-mobile-alt"></i>
                    <label class="desc-contact-phone">
                        +58 424-4540566
                    </label>
                </div>
                <div class="info-contact-email">
                    <i class="far fa-envelope"></i>
                    <label class="desc-contact">
                        tuzapatoshop@gmail.com
                    </label>
                </div>
            </div>
        </div>
    </div>
</footer>