<header>
    <div class="main-header-top">
        <img src="/images/zapato.png" class="logo">

        <ul class="list-categories">
            <li><a href="">Hombres</a></li>
            <li><a href="">Mujeres</a></li>
            <li><a href="">Niños</a></li>
        </ul>
        
        <ul class="list-users">
            <li><a href="/user/login"><i class="fas fa-user"></i> Mi cuenta</a></li>
            <li><a href=""><i class="fas fa-heart"></i> Favoritos</a></li>
            <li><a href=""><i class="fas fa-shopping-cart"></i> Mi carrito</a></li>
        </ul>
    </div>
    <div class="main-header-bottom">
        <ul class="list-categories-bottom">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Zapatos</a></li>
            <li><a href="">Bolsos</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">Marcas</a></li>
        </ul>
        <form action="" method="POST" class="search-nav">
            <input type="text" class="search-bar" placeholder="Buscar categoria, accesorio, marca" />
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</header>