<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6819d22b19.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesindex.css">
    <title>Tu Zapato shop</title>
</head>
<body>
    <header>
        <div class="main-header-top">
            <img src="/images/zapato.png" class="logo">

            <ul class="list-categories">
                <li><a href="">Hombres</a></li>
                <li><a href="">Mujeres</a></li>
                <li><a href="">Niños</a></li>
            </ul>
            
            <ul class="list-users">
                <li><a href="/login"><i class="fas fa-user"></i> Mi cuenta</a></li>
                <li><a href=""><i class="fas fa-heart"></i> Favoritos</a></li>
                <li><a href="/shopping-cart"><i class="fas fa-shopping-cart"></i> Mi carrito</a></li>
            </ul>
        </div>
        <div class="main-header-bottom">
            <ul class="list-categories-bottom">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Zapatos</a></li>
                <li><a href="">Bolsos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Marcas</a></li>
            </ul>
            <form action="" method="POST" class="search-nav">
                <input type="text" class="search-bar" placeholder="Buscar categoria, accesorio, marca" />
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>
    <main>
        <section class="main-top">
            <article class="destacado-1">
                <div class="card">
                    <div class="card-head">
                        <i class="fas fa-shipping-fast"></i>
                        <div class="main-punto">
                            <h3>Envios Gratuitos a todo el pais</h3>
                            <p>Si realizas una compra superior a <b>USD 100,00</b>, el envío te sale gratis. Si te encuentras ubicado en la misma ciudad te lo llevamos hasta la puerta de tu casa</p>
                        </div>
                        <span class="back-text">
                            FREE
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="product-desc">
                            <span class="product-title">
                                Delivery <b>en Valencia</b>
                            </span>
                            <span class="product-caption">
                                Free Shipping
                            </span>
                            <span class="product-price">
                                USD <b>$00.00</b>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
            <a href="" class="product-main">
                <article class="destacado-2">
                    <div class="card">
                        <div class="card-head">
                            <img src="/images/logo-nike.png" alt="logo" class="card-logo">
                            <img src="/images/zapato-nike.png" alt="shoe" class="product-img">
                            
                            <div class="product-detail">
                                <h2>Nike AirMax Sport</h2>
                                <p>Support a Nike Zoom Air come together for a more supportive feel with high-speed responsive</p>
                            </div>
                            <span class="back-text">
                                FAS
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="product-desc">
                                <span class="product-title">
                                    AirMax <b>Sport</b>
                                    <span class="badge">
                                        New
                                    </span>
                                </span>
                                <span class="product-caption">
                                    Style Collection
                                </span>
                                <span class="product-price">
                                    USD <b>$59.99</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </article>
            </a>
            <article class="destacado-3">
                <div class="card">
                    <div class="card-head">
                        <i class="fas fa-medal"></i>
                        <div class="main-punto">
                            <h3>Hazte Pro para desbloquear ventajas</h3>
                            <p>Paga la suscripción Pro para obtener beneficios, como ofertas especiales limitadas cada semana o la oportunidad de ganar sorteos</p>
                        </div>
                        <span class="back-text">
                            PRO
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="product-desc">
                            <span class="product-title">
                                Sorteos <b>mensuales</b>
                            </span>
                            <span class="product-caption">
                                Suscripción mensual
                            </span>
                            <span class="product-price">
                                USD <b>$19.99</b>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="main-body">
            <div class="main-products">
                <div class="products-head">
                    <button class="button-products">
                        <a href="" >
                            <h2>Échale un vistazo a todos nuestros productos</h2>
                            <p>Déjate inspirar por los zapatos, ropa y accesorios de nuestra colección de marcas</p>
                        </a>
                    </button>
                </div>
                <div class="products-body-main">
                    <a href="">
                        <article class="produtcs-body-detail">
                            <div class="product-body-img" >
                                <img src="/images/air-max-97-mens-shoe-SD3ZmW.jpg" width="250">
                            </div>
                            <div class="product-body-detail">
                                <span class="marca">
                                    Nike
                                </span>
                                <span class="name">
                                    Air Max 97 for Men
                                </span>
                                <span class="price">
                                    USD <b>$70.00</b>
                                </span>
                            </div>
                        </article>
                    </a>
                    <a href="">
                        <article class="produtcs-body-detail">
                            <div class="product-body-img" >
                                <img src="/images/blazer-mid-77-vintage-mens-shoe-nw30B2.jpg" width="250">
                            </div>
                            <div class="product-body-detail">
                                <span class="marca">
                                    Nike
                                </span>
                                <span class="name">
                                    Blazer Mid' 77 Vintage
                                </span>
                                <span class="price">
                                    USD <b>$120.00</b>
                                </span>
                            </div>
                        </article>
                    </a>
                    <a href="">
                        <article class="produtcs-body-detail">
                            <div class="product-body-img" >
                                <img src="/images/victori-one-mens-slide-Wf3qJv.jpg" width="250">
                            </div>
                            <div class="product-body-detail">
                                <span class="marca">
                                    Nike
                                </span>
                                <span class="name">
                                    Victori one for Men
                                </span>
                                <span class="price">
                                    USD <b>$20.00</b>
                                </span>
                            </div>
                        </article>
                    </a>
                    <a href="">
                        <article class="produtcs-body-detail">
                            <div class="product-body-img" >
                                <img src="/images/air-force-1-07-craft-mens-shoe-sq1KlC.jpg" width="250">
                            </div>
                            <div class="product-body-detail">
                                <span class="marca">
                                    Nike
                                </span>
                                <span class="name">
                                    Air Force 1 
                                </span>
                                <span class="price">
                                    USD <b>$90.00</b>
                                </span>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="main-footer-top">
            <p><i>Todos los envios son gratuitos</i></p>
        </div>
        <div class="main-footer-bottom">
            <div class="section1">                
                <h3 class="title-footer">
                    Mas información de la compañia
                </h3>
                <img src="/images/zapato.png" class="logo" />
                <p class="desc-company">
                    Esta compañia se dedica a la venta de zapatos<br> y accesorios a la moda para hombres,
                    mujeres<br> y niños. Todos los productos que se venden en<br> esta empresa son de buena calidad.
                </p>
            </div>
            <div class="section2">
                <h3 class="title-footer">
                    Redes sociales
                </h3>
                <div class="redes-sociales">
                    <div class="social-network-facebook">
                        <a href="">
                            <img src="/images/facebook.png" class="img-red-fb" width="40px"/>
                            <label>
                                Siguenos en Facebook
                            </label>    
                        </a>
                    </div>
                    <div class="social-network-twitter">
                        <a href="">
                            <img src="/images/instagram.png" class="img-red-tw" width="40px"/>
                            <label>
                                Siguenos en Twitter
                            </label>
                        </a>
                    </div>
                    <div class="social-network-instagram">
                        <a href="">
                            <img src="/images/twitter.png" class="img-red-ig" width="32px" />
                            <label>
                                Siguenos en Instagram
                            </label>
                        </a>
                    </div>
                    <div class="social-network-youtube">
                        <a href="">
                            <img src="/images/youtube.png" class="img-red-yt" width="33px"/>
                            <label>
                                Siguenos en Youtube
                            </label>
                        </a>
                    </div>
                </div>
            </div>
            <div class="section3">
                <h3 class="title-footer">
                    Contáctanos
                </h3>
                <div class="info-column">
                    <div class="info-contact-home">
                        <i class="fas fa-home"></i>
                        <p class="desc-contact"> 
                            Valencia, Venezuela.<br>
                            CC. Mediterranean Plaza.
                        </p>
                    </div>
                    <div class="info-contact-phone">
                        <i class="fas fa-mobile-alt"></i>
                        <label class="desc-contact-phone">
                            +58 424-4540566
                        </label>
                    </div>
                    <div class="info-contact-email">
                        <i class="far fa-envelope"></i>
                        <label class="desc-contact">
                            tuzapatoshop@gmail.com
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>