<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesproduct.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main class="product-main">
        <div class="product-img-container">
            <img src="/images/blazer-mid-77-vintage-mens-shoe-nw30B2.jpg" class="product-detail-img">
        </div>
        <div class="product-detail-page">
            <div class="product-page-marca">
                <p>Nike</p>
            </div>
            <div class="product-page-name">
                <p>Blazer Mid ´77 Vintage</p>
            </div>
            <div class="product-page-description">
                <div class="product-page-category">
                    <p>Zapato</p>
                </div>
                <div class="product-page-talla">
                    <p>Talla disponibles para: hombres y niños</p>
                </div>
                <div class="product-page-color">
                    <p>Colores disponibles en: negro y blanco</p>
                </div>
                <div class="product-page-stock">
                    <p>En stock: <b>10</b> unidades </p>
                </div>
            </div>
            <div class="product-page-price">
                <p>USD <b>$79.99</b></p>
            </div>
            <div class="buttons-edit-delete">
                <a href="" >
                    <button class="button-edit" type="submit">
                        Editar
                    </button>
                </a>
                <a href="" >
                    <button class="button-delete" type="submit">
                        Eliminar
                    </button>
                </a>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>